<% if logged_in? %>
  <div class='hero-unit'>
    <div id='today-problem'>
      <%== @today_problem.content %>
    </div>
    <div id='gist-url'>
      <%= form_tag('/answers', :id => 'gist-url-form') do %>
        <%= url_field_tag "gisturl", "", {:placeholder => "gistのURLを入力してください."} %>
        <%= submit_tag("投稿") %>
      <% end %>
    </div>
  </div>

  <a id="answers-show" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    他のユーザのコードを見る
    <span class="caret"></span>
  </a>

  <div id='answers-unit' class='hero-unit'>
  </div>

<% else %>
  <div class='hero-unit'>
    <h1> DailyCoding </h1>
    <p> DailyCodingは、毎日のコーディングをちょっとだけ楽しくするサービスです。</p>
    <a class='btn btn-primary btn-large' href='/login'>Twitterアカウントで参加</a>
    <br/>
    <a class='btn btn-primary btn-large' href='/nologin'>匿名で参加</a>
  </div>
  <div class='hero-unit'>
    <h2> 今日の問題 </h2>
    <div id='today-problem'>
      <%== @today_problem.content %>
    </div>
  </div>
<% end %>
