<% if logged_in? %>
  <div class='hero-unit'>
    <div id='today-problem'>
      <%== @today_problem.content %>
    </div>
    <div id='gist-url'>
      <%= form_tag('/answer/create', :id => 'gist-url-form') do %>
        <%= url_field_tag "gist-url", "", {:placeholder => "gistのURLを入力してください."} %>
        <%= submit_tag("投稿") %>
      <% end %>
    </div>
  </div>

  <div id='answers-unit' class='hero-unit'>
  </div>

<% else %>
  <div class='hero-unit'>
    <h1> DailyCoding </h1>
    <p> DailyCodingは、毎日のコーディングをちょっとだけ楽しくするサービスです。</p>
    <a class='btn btn-primary btn-large' href='/login'>Twitterアカウントで参加</a>
    <br/>
    <a class='btn btn-primary btn-large' href='/nologin'>匿名で参加</a>
  </div>
  <div class='hero-unit'>
    <h2> 今日の問題 </h2>
    <div id='today-problem'>
      <%== @today_problem.content %>
    </div>
    <%# <p>10未満の自然数のうち、3 もしくは 5 の倍数になっているものは 3, 5, 6, 9 の4つがあり、 これらの合計は 23 になる。同じようにして、1,000 未満の 3 か 5 の倍数になっている数字の合計を求めよ。 </p> %>
  </div>
<% end %>
