<% if flash[:notice].present? %>
  <div class='notice'>
    <p><%= flash[:notice] %></p>
  </div>
<% end %>

<div class='problem'>
  <ul class='pager'>
    <% if @problem.id > 1 %>
    <li class='previous'>
      <%= link_to "<<", problem_path(@problem.id - 1) %>
    </li>
    <% end %>
    <li>
      <h2>問題<%= @problem.id %></h2>
    </li>
    <% if @problem.id != Problem.today.id %>
    <li>
      <%= link_to ">>", problem_path(@problem.id + 1) %>
    </li>
    <% end %>
  </ul>
  <div class='hero-unit'>
    <%== @problem.content %>
    <%= link_to "Project Euler 問題#{@problem.id}", @problem.url %>
  </div>
</div>

<ul class="nav-heading">
  <li>
    <h2>みんなのコード(<%= @answers.size %>)</h2>
  </li>
  <li>
    <div id="author-imgs">
      <% author_for_each_answers(@answers).each do |author| %>
        <%= link_to (image_tag author.twitter.image_url, :wifth => 36, :height => 36), user_path(author.id) %>
      <% end %>
    </div>
  </li>
</ul>

<div class='hero-unit'>
  <ul class="nav nav-pills" id='lang-selector'>
    <% if @lang %>
      <li>
    <% else %>
      <li class="active">
    <% end %>
    <%= link_to "ALL", "/problems/#{@problem.id}", :id => "all-lang", :class => "lang-btn" %>
    <!-- <a id="all-lang" class= "lang-btn" href="/problems/#{@problem.id}">ALL</a> -->
      </li>
    <% @langs.each do |lang| %>
      <% if @lang == lang %>
        <li class="active">
      <% else %>
        <li>
      <% end %>
          <%= link_to "#{lang} (#{answers_by_lang(@answers, lang).size})", "/problems/#{@problem.id}/answers/#{lang}" %>
        </li>
    <% end %>
  </ul>

  <div id='answers-body' class='answers'>
    <%= render partial: 'answers/answer', spacer_template: 'answers/sep', collection: @answers %>
  </div>
</div>
