<h2>今日の問題</h2>
<div class='hero-unit' id='today-problem' data-problem-id="<%= @today_problem.id %>">
  <%== @today_problem.content %>
  <%= link_to "Project Euler 問題#{@today_problem.id}", @today_problem.url %>
</div>
<h2>解答を共有</h2>
<div class='hero-unit' id='gist-url'>
  <div class='explain'>
    <p>作成した解答を<%= link_to "Gist","https://gist.github.com/" %>にアップロードしましょう。</p>
    <p>
    GistのページのURL（例: http://gist.github.com/230912）を下のフォームに入力してください。
    </p>
  </div>
  <hr>
  <div class='url-form'>
    <%= form_tag(answers_path, :id => 'gist-url-form') do %>
      <%= hidden_field_tag 'problem_id', @today_problem.id %>
      <%= url_field_tag "gisturl", "", { :placeholder => "GistのURLを入力してください." } %>
      <%= submit_tag "投稿", :class => 'btn btn-primary' %>
    <% end %>
  </div>
  <div id='to-answers'>
    <a class='btn btn-primary btn-large' href=<%= answers_problem_path(@today_problem.id) %>>みんなの解答を見る</a>
  </div>
</div>
