<div class='hero-unit'>
  <div id='today-problem' data-problem-id="<%= @today_problem.id %>">
    <%== @today_problem.content %>
  </div>
  <hr>
  <div id='gist-url'>
    <p>作成した解答を<%= link_to "Gist","https://gist.github.com/" %>にアップロードしましょう。</p>
    <%= form_tag(answers_path, :id => 'gist-url-form') do %>
      <%= url_field_tag "gisturl", "", {:placeholder => "GistのURLを入力してください."} %>
      <%= hidden_field_tag 'problem_id', @today_problem.id %>
      <%= submit_tag("投稿") %>
    <% end %>
  </div>
  <a class='btn btn-primary' href=<%= answers_problem_path(@today_problem.id) %>>みんなのコードを見る</a>
</div>
