
<div class='code'>
  <div class="author">
    <% if answer.user %>
      <p><a href="/profile/<%= answer.user.twitter_id %>">@<%= answer.user.login %></a></p>
      <a href="/profile/<%= answer.user.twitter_id %>">
        <img src="<%= answer.user.profile_image_url %>" width='40px' height='40px'>
      </a>
    <% end %>
  </div>
  <div class="fav-star">
    <a class='fav-btn' data-answer-id="<%= answer.id %>" href="javascript:void(0);">
      <% if current_user_faved?(answer) %>
        <img src="/assets/star_full.png">
      <% else %>
        <img src="/assets/star_empty.png">
      <% end %>
    </a>
    <% answer.favs.each do |fav| %>
      <a href="/profile/<%= fav.user.twitter_id %>">
        <img src="<%= fav.user.profile_image_url %>" width='40px' height='40px'>
      </a>
    <% end %>
  </div>
  <div class="gist-part">
    <%== answer.body %>
  </div>
</div>
