<div class='problem'>
  <h2>問題</h2>
  <div class='hero-unit'>
    <%== @problem.content %>
  </div>
</div>

<h2>みんなのコード</h2>

<div class='hero-unit'>
  <ul class="nav nav-pills" id='lang-selector'>
    <li class="active">
      <a id="all-lang" class= "lang-btn" href="javascript:void(0);" data-href="<%= tmpl_answers_path(@problem.id) %>">ALL</a>
    </li>
    <% @langs.each do |lang| %>
    <li>
      <a class="lang-btn" data-href="<%= tmpl_answers_by_lang_path(@problem.id, lang) %>" href="javascript:void(0);" ><%= lang %></a>
    </li>
    <% end %>
  </ul>

  <div id='answers-body' class='answers'>
    <%= render partial: 'answer', collection: @answers %>
  </div>
</div>
