<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <img src="<%= @user.profile_image_url%>"><h2><%= link_to @user.login, "https://twitter.com/#/#{@user.login}" %></h2>
          <small><font color="gray"><%= @user.name %></font></small>
          <hr>
          <p><%= @user.description %></p>
          <small><%= link_to @user.url,@user.url %></small>
          <hr>
          <li class="nav-header">Codes</li>
          <li class="active"><a href="#">書いたコード (<%= @my_answers.size %>)</a></li>
          <li><a href="/profile/stared_codes/<%= @user.twitter_id %>">お気に入りのコード (<%= @stared_answers.size %>)</a></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <div class="span9">
      <div class="hero-unit">
        <%# ここに出すコードを切り替える %>
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>
    </div>
  </div>
</div>

