<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <img src="<%= @user.profile_image_url%>"><h2><%= link_to @user.login, "https://twitter.com/#/#{@user.login}" %></h2>
          <small><font color="gray"><%= @user.name %></font></small>
          <hr>
          <p><%= @user.description %></p>
          <small><%= link_to @user.url,@user.url %></small>
          <hr>
          <li class="nav-header">Codes</li>
          <li><a href="/profile/codes/<%= @user.twitter_id %>">書いたコード (<%= @my_answers.size %>)</a></li>
          <li class="active"><a href="#">お気に入りのコード (<%= @stared_answers.size %>)</a></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <div class="span9">
      <div id="answers-unit" class="hero-unit">
        <%= render :partial => "/answers/profile_fav", :locations => {:uid => @user.id} %>
      </div>
    </div>
  </div>
</div>

