<%# child layout for application.html.erb %>

<% content_for :user do %>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <img src="<%= @user.twitter.image_url %>"><h2><%= link_to @user.twitter.screen_name, "http://twitter.com/#{@user.twitter.screen_name}" %></h2>
            <small><font color="gray"><%= @user.twitter.name %></font></small>
            <hr>
            <p><%= @user.twitter.bio %></p>
            <small><%= link_to @user.twitter.web_url, @user.twitter.web_url %></small>
            <hr>
            <li class="nav-header">Codes</li>
            <%= yield %>
          </ul>
        </div><!--/.well -->
      </div><!--/span-->
      <div class="span9">
        <div id="answers-unit" class="hero-unit">
          <%= render partial: 'answers/answer', spacer_template: 'answers/sep', collection: @displayed_answers, :as => :answer %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%# render parent layout template %>
<%= render :template => 'layouts/application' %>
